language: python
cache: pip
python:
  - 3.6
  - 3.7-dev
  - nightly
install:
  - pip install '.[ci]'
script:
  - ./tests/test-runner.sh
  - if [[ ${TRAVIS_PYTHON_VERSION} == 3.6 ]]; ./tests/mypy.sh; fi
after_success:
  - codecov
notifications:
  email: false
